.testimonial {
    // height: 80vh;   
    padding: 3rem;           
    width: 100%; 
    background-color: $color-review;
    position: relative;
    overflow: hidden;  
    &__text {
        display: grid;
        grid-template-columns: repeat(3,35rem);  
        grid-template-rows: 15rem 40rem 5rem;
        grid-column-gap: 3rem;  
        justify-content: space-around;   
        @media only screen and (max-width: 37.5em) {
            // height: 210vh;    
            grid-template-columns: 35rem;
            grid-template-rows: 25rem repeat(3,40rem); 
            grid-row-gap: 3rem;  
            justify-content: space-around;           
            width: 100%; 
            background-color: $color-review;
            position: relative;       
        }       
    }     
    &__head {          
        grid-column: 1/-1;
        text-align: center;
        margin-top: 3rem;
        font-weight: 600;
        font-size: 4rem;  
        color: $about-color;
        text-transform: uppercase;
        @media only screen and (max-width: 37.5em) {
            grid-row: 1/2;  
            grid-column: 1/-1; 
            width: 100%;  
        }            
    }
    &__img {      
        height: 10rem;
        width: 10rem;  
        border-radius: 100px;
    
        position: absolute;
        top: -4rem;    
        left: 12rem;         
        z-index: 100; 
    }    
    &__review {    
        position: relative;
        background-image: linear-gradient(to right bottom, #03506f ,#0a043c);
       
        &__text {  
            position: absolute;
            top: 10rem; 
            left: 4rem;
            width: 25rem;
            text-align: center; 
            &::before {
                content: "\201C";
                position: absolute;
                top: -0.75rem;
                left: -3rem;
                line-height: 1;
                font-size: 20rem;
                color: $hero-color;   
                font-family: sans-serif;
                z-index: 1;   
            }
        }
        &:hover {
            transform: scale(1.1) translate(0.5rem);
            transition: all .2s;   
            box-shadow: 0 2.5rem 4rem $color-shadow; 
            z-index: 10;
        } 
        &__head {
            font-size: 3rem;
            font-weight: bold;          
            z-index: 1000;    
            color: $about-color;    
        }       
    }
    &__para {
        font-size: 2rem;    
        margin-top: 3rem;     
        z-index: 1000;      
        color: $color-dark-1;
    }   
}   
.review1 {  
    grid-column: 1/2;
    grid-row: 2/3;
    // background-color: rgb(174, 116, 116);
    border-radius: 10px;
    @media only screen and (max-width: 37.5em) {
        grid-row: 2/3;
        grid-column: 1/-1;
    }    
}
.review2 {
    grid-column: 2/3;
    grid-row: 2/3;   
    // background-color: rgb(30, 138, 91);
    border-radius: 10px;
    @media only screen and (max-width: 37.5em) {
        grid-row: 3/4;
        grid-column: 1/-1;   
    }  
}
.review3 {
    grid-column: 3/-1;  
    grid-row: 2/3; 
    // background-color: rgb(93, 138, 30);
    border-radius: 10px;    
    @media only screen and (max-width: 37.5em) {
        grid-row: 4/-1;
        grid-column: 1/-1;
    }   
}
 