$color-primary-dark: #2ad538;
$color-primary-light: #4f9f6f;
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: hsl(0, 0%, 98%);

$nav-color: #ff1c68;

$hero-color: #e4e4e4;
$color-dark: #0f0e0e;
$color-dark-1: rgb(120, 120, 120);
$about-color: rgb(247, 247, 247);
$color-shadow: #0000006f;   
$color-review: rgb(28, 25, 103);